@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}

:root {
    --main-color: #fa5353;
    --dark-color: #1b182b;
    --light-color: #322f40;
    --text-color:  white;

}
::selection {
    color: var(--text-color);
    background: var(--main-color);
}
body {
    color: var(--text-color);
    background: var(--dark-color);
}



.fa-hand-rock,
.fa-hand-paper,
.fa-hand-scissors {
  font-size: 4rem;
  font-weight: bolder;
  cursor: pointer;
}

.modal-body ul li i {
  font-size: 1.5rem;
  font-weight: 500;
}

.boards,
.select {
  display: none;
}

#playerSide,
#computerSide {
  height: 225px;
}

html, body {
  height: 100%;
}

footer {
  clear: both;
  border: 1px groove #aaaaaa;
  background: blue;
  color: White;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
}